[submodule "lab-03-ros-nodes/src/simple_arm"]
	path = labs/lab-02-ros-nodes/src/simple_arm
	url = https://github.com/miharothl/RoboND-simple_arm.git
[submodule "lab-04-ros-ekf/src/robot_pose_ekf"]
	path = labs/lab-04-ros-ekf/src/robot_pose_ekf
	url = https://github.com/udacity/robot_pose_ekf
[submodule "lab-04-ros-ekf/src/turtlebot_simulator"]
	path = labs/lab-04-ros-ekf/src/turtlebot_simulator
	url = https://github.com/turtlebot/turtlebot_simulator
[submodule "lab-04-ros-ekf/src/odom_to_trajectory"]
	path = labs/lab-04-ros-ekf/src/odom_to_trajectory
	url = https://github.com/udacity/odom_to_trajectory
[submodule "lab-04-ros-ekf/src/turtlebot"]
	path = labs/lab-04-ros-ekf/src/turtlebot
	url = https://github.com/turtlebot/turtlebot
[submodule "project-03-where-am-i/src/pgm_map_creator"]
	path = project-03-where-am-i/src/pgm_map_creator
	url = https://github.com/udacity/pgm_map_creator.git
[submodule "project-03-where-am-i/src/teleop_twist_keyboard"]
	path = project-03-where-am-i/src/teleop_twist_keyboard
	url = https://github.com/ros-teleop/teleop_twist_keyboard
[submodule "project-04-map-my-world/src/rtabmap_ros"]
	path = project-04-map-my-world/src/rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros.git
[submodule "project-04-map-my-world/src/teleop_twist_keyboard"]
	path = project-04-map-my-world/src/teleop_twist_keyboard
	url = https://github.com/ros-teleop/teleop_twist_keyboard
